@page "/comment/{PostId:int}"

@using ProsjektOppgaveBlazor.data.Models.ViewModel
@using ProsjektOppgaveBlazor.data.Models
@using Microsoft.AspNetCore.SignalR.Client
@inject HttpClient BlogHttpClient
@inject ILocalStorageService localStorage
@inject NavigationManager NavigationManager
@implements IAsyncDisposable


<h3>Create post</h3>

@if (comment == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="row">
        <div class="col-md-3">
            <EditForm Model="@comment" OnValidSubmit="Save">
                <DataAnnotationsValidator/>
                <div class="form-group">
                    <div>
                        <label for="Name">Comment:</label>
                        <InputText class="form-control" @bind-Value="comment.Text" />
                        <ValidationMessage For="@(()=>comment.Text)" />
                    </div>

                        <button class="btn btn-primary" type="submit">Save</button>
                    
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                </div>
            </EditForm>
        </div>
    </div>
}


@code {
    private HubConnection? hubConnection;
    [Parameter]
    public int CommentId { get; set; }
    
    [Parameter]
    public int PostId { get; set; }


    private CommentViewModel comment = new CommentViewModel();

    protected override async Task OnInitializedAsync()
    {
        hubConnection = new HubConnectionBuilder()
            .WithUrl(NavigationManager.ToAbsoluteUri("/commentHub"))
            .Build();
        
        await hubConnection.StartAsync();
    }


    private async Task Save()
    {
        comment.PostId = PostId;
        var token = await localStorage.GetItemAsync<string>("authToken");
        BlogHttpClient.DefaultRequestHeaders.Authorization = new AuthenticationHeaderValue("Bearer", token);
        var response = await BlogHttpClient.PostAsJsonAsync("https://localhost:7022/Comment", comment);
        if (response.IsSuccessStatusCode)
        {
            var result = await response.Content.ReadFromJsonAsync<Comment>();
            await hubConnection.SendAsync("AddNewComment", result);
            
        }
        
        NavigationManager.NavigateTo($"/comments/{PostId}");
    }
    
    public async ValueTask DisposeAsync()
    {
        if (hubConnection is not null)
        {
            await hubConnection.DisposeAsync();
        }
    }

}