@page "/comments/{PostId:int}"
@using ProsjektOppgaveBlazor.data.Models;
@using Microsoft.AspNetCore.SignalR.Client
@using ProsjektOppgaveBlazor.data.Models.ViewModel
@inject HttpClient BlogHttpClient
@inject NavigationManager NavigationManager
@inject ILocalStorageService localStorage
@implements IAsyncDisposable

<h3>Comments</h3>

<a class="btn btn-primary" href="comment/@PostId">Create</a>

@if (comments == null) 
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table" >
    <thead>
    <tr>
        <th>Text</th>
        <th>Owner</th>
    </tr>
    </thead>
    <tbody>
            @foreach (var comment in comments)
    {
        <tr>
            <td>@comment.Text</td>
            <td>@comment.Owner.Email</td>
            <td><a href="comment/edit/@comment.CommentId">Edit</a></td>
            <td><a href="/comments/@PostId" @onclick="@(e =>DeleteComment(comment.CommentId))">Delete</a></td>
        </tr>
    }
    </tbody>
    </table>
}

@code {
    private HubConnection? hubConnection;
    
    [Parameter]
    public int PostId { get; set; }
    private Comment[] comments;

    protected override async Task OnInitializedAsync()
    {
        hubConnection = new HubConnectionBuilder()
            .WithUrl(NavigationManager.ToAbsoluteUri("/commentHub"))
            .Build();
        comments = await BlogHttpClient.GetFromJsonAsync<Comment[]>($"https://localhost:7022/Comment?postId={PostId}");

        hubConnection.On<Comment>("NewComment", comment =>
        {
            
            comments = comments.Concat(new []{comment}).ToArray();
            StateHasChanged();

        }); 
        
        hubConnection.On<int>("RemoveComment", id =>
        {
            comments = comments.Where(c => c.CommentId != id).ToArray();
            StateHasChanged();

        });
        await hubConnection.StartAsync();
    }

    private async Task DeleteComment(int id)
    {
        var token = await localStorage.GetItemAsync<string>("authToken");
        BlogHttpClient.DefaultRequestHeaders.Authorization = new AuthenticationHeaderValue("Bearer", token);
        var response = await BlogHttpClient.DeleteAsync($"https://localhost:7022/Comment/{id}");
        if (response.IsSuccessStatusCode)
        {
            await hubConnection.SendAsync("DeleteComment", id);
        }
    }
    

    public async ValueTask DisposeAsync()
    {
        if (hubConnection is not null)
        {
            await hubConnection.DisposeAsync();
        }
    }
}
