
@page "/comment/edit/{CommentId:int}"
@using ProsjektOppgaveBlazor.data.Models;
@using Microsoft.AspNetCore.SignalR.Client
@inject HttpClient BlogHttpClient
@inject ILocalStorageService localStorage
@inject NavigationManager NavigationManager
@implements IAsyncDisposable

<h3>Edit comment</h3>

@if (comment == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="row">
        <div class="col-md-3">
            <EditForm Model="@comment" OnValidSubmit="Save">
                <DataAnnotationsValidator/>
                <div class="form-group">
                        <div>
                            <label for="Name">Comment:</label>
                        <InputText class="form-control" @bind-Value="comment.Text" />
                        <ValidationMessage For="@(()=>comment.Text)" />
                        </div>
                        <button class="btn btn-primary" type="submit">Save</button>
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                </div>
            </EditForm>
        </div>
    </div>
}


@code {
    private HubConnection? hubConnection;
    [Parameter]
    public int CommentId { get; set; }

    private Comment comment;
    protected override async Task OnInitializedAsync()
    {
        comment = await BlogHttpClient.GetFromJsonAsync<Comment>($"https://localhost:7022/Comment/{CommentId}");
        hubConnection = new HubConnectionBuilder()
            .WithUrl(NavigationManager.ToAbsoluteUri("/commentHub"))
            .Build();
        
        await hubConnection.StartAsync();
    }
    
    private async Task Save()
    {
        var token = await localStorage.GetItemAsync<string>("authToken");
        BlogHttpClient.DefaultRequestHeaders.Authorization = new AuthenticationHeaderValue("Bearer", token);
        var response = await BlogHttpClient.PutAsJsonAsync($"https://localhost:7022/Comment/{CommentId}", comment);
        if (response.IsSuccessStatusCode)
        {
            var result = await response.Content.ReadFromJsonAsync<Comment>();
            await hubConnection.SendAsync("EditComment", result);
            
        }
        
        NavigationManager.NavigateTo($"/comments/{comment.PostId}");
    }
    
    public async ValueTask DisposeAsync()
    {
        if (hubConnection is not null)
        {
            await hubConnection.DisposeAsync();
        }
    }

}