@page "/post/edit/{PostId:int}"

@using ProsjektOppgaveBlazor.data.Models;
@inject HttpClient BlogHttpClient
@inject ILocalStorageService localStorage
@inject NavigationManager NavigationManager

<h3>Edit post</h3>

@if (post == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="row">
        <div class="col-md-3">
            <EditForm Model="@post" OnValidSubmit="Save">
                <DataAnnotationsValidator/>
                <div class="form-group">
                        <div>
                            <label for="Name">Post Title:</label>
                        <InputText class="form-control" @bind-Value="post.Title" />
                        <ValidationMessage For="@(()=>post.Title)" />
                        </div>
                        <div>
                            <label for="Content">Post Content:</label>
                            <InputText class="form-control" @bind-Value="post.Content" />
                            <ValidationMessage For="@(()=>post.Content)" />
                        </div>
                        <button class="btn btn-primary" type="submit">Save</button>
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                </div>
            </EditForm>
        </div>
    </div>
}


@code {
    [Parameter]
    public int PostId { get; set; }

    private Post post;
    protected override async Task OnInitializedAsync()
    {
        post = await BlogHttpClient.GetFromJsonAsync<Post>($"https://localhost:7022/Post/{PostId}");
    }

    private async Task Save()
    {
        var token = await localStorage.GetItemAsync<string>("authToken");
        BlogHttpClient.DefaultRequestHeaders.Authorization = new AuthenticationHeaderValue("Bearer", token);
        var response = await BlogHttpClient.PutAsJsonAsync($"https://localhost:7022/Post/{PostId}", post);
        NavigationManager.NavigateTo($"/posts/{post.BlogId}");
    }

}