@page "/posts/{BlogId:int}"
@using ProsjektOppgaveBlazor.data.Models;
@inject HttpClient BlogHttpClient
@inject NavigationManager NavigationManager
@inject ILocalStorageService localStorage

<h3>Posts</h3>

<a class="btn btn-primary" href="post/@BlogId">Create</a>

@if (posts == null) 
{
    <p><em>Loading...</em></p>
}
else
{
    @foreach (var post in posts)
    {
        <div class="col-md-7">
            <div class="card">
                <div class="card-header" align="center">
                    <text>@post.Title</text>
                </div>
                <div class="card-body" align="center">
                    <text>@post.Content</text>
                    <div class="card-footer" align="center">
                        <a class="btn btn-primary" href="comments/@post.PostId">View</a>
                        <a class="btn btn-secondary" href="post/edit/@post.PostId">Edit</a>
                        <a class="btn btn-danger" href="/posts/@BlogId" @onclick="@(e =>DeletePost(post.PostId))">Delete</a>
                    </div>
                </div>
            </div>
        </div>
        <br/>
    }
}

@code {
    [Parameter]
    public int BlogId { get; set; }
    private Post[] posts;

    protected override async Task OnInitializedAsync()
    {
        posts = await BlogHttpClient.GetFromJsonAsync<Post[]>($"https://localhost:7022/Post?blogId={BlogId}");
    }

    private async Task DeletePost(int id)
    {
        var token = await localStorage.GetItemAsync<string>("authToken");
        BlogHttpClient.DefaultRequestHeaders.Authorization = new AuthenticationHeaderValue("Bearer", token);
        var response = await BlogHttpClient.DeleteAsync($"https://localhost:7022/Post/{id}");
        NavigationManager.NavigateTo($"/posts/{BlogId}", true);
    }
}
